In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../data/raw/crimedata_csv_AllNeighbourhoods_2025.csv')

In [3]:
df.head()

,TYPE,YEAR,MONTH,DAY,HOUR,MINUTE,HUNDRED_BLOCK,NEIGHBOURHOOD,X,Y
0,Break and Enter Commercial,2025,11,25,0,0,10XX PACIFIC ST,West End,490246.7971,5.458367e+06
1,Break and Enter Commercial,2025,11,29,18,53,10XX PACIFIC ST,West End,490246.7971,5.458367e+06
2,Break and Enter Commercial,2025,1,2,0,0,10XX PACIFIC ST,West End,490258.8902,5.458368e+06
3,Break and Enter Commercial,2025,6,10,19,27,10XX PACIFIC ST,West End,490298.1327,5.458317e+06
4,Break and Enter Commercial,2025,1,13,3,43,10XX ROBSON ST,West End,491036.3006,5.458994e+06

In [4]:
df.shape

(32411, 10)

In [5]:
#df.columns = df.columns.str.lower()

In [6]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 32411 entries, 0 to 32410
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   TYPE           32411 non-null  str
 1   YEAR           32411 non-null  int64
 2   MONTH          32411 non-null  int64
 3   DAY            32411 non-null  int64
 4   HOUR           32411 non-null  int64
 5   MINUTE         32411 non-null  int64
 6   HUNDRED_BLOCK  32411 non-null  str
 7   NEIGHBOURHOOD  32403 non-null  str
 8   X              32411 non-null  float64
 9   Y              32411 non-null  float64
dtypes: float64(2), int64(5), str(3)
memory usage: 2.5 MB

In [7]:
df.isnull().sum()

TYPE             0
YEAR             0
MONTH            0
DAY              0
HOUR             0
MINUTE           0
HUNDRED_BLOCK    0
NEIGHBOURHOOD    8
X                0
Y                0
dtype: int64

In [8]:
df['NEIGHBOURHOOD'].isnull().sum()

np.int64(8)

In [9]:
df[df['NEIGHBOURHOOD'].isna()]

,TYPE,YEAR,MONTH,DAY,HOUR,MINUTE,HUNDRED_BLOCK,NEIGHBOURHOOD,X,Y
9805,Offence Against a Person,2025,10,4,0,0,OFFSET TO PROTECT PRIVACY,NaN,0.0000,0.000
9808,Offence Against a Person,2025,1,19,0,0,OFFSET TO PROTECT PRIVACY,NaN,0.0000,0.000
9810,Offence Against a Person,2025,8,1,0,0,OFFSET TO PROTECT PRIVACY,NaN,0.0000,0.000
9811,Offence Against a Person,2025,3,15,0,0,OFFSET TO PROTECT PRIVACY,NaN,0.0000,0.000
10533,Offence Against a Person,2025,7,19,0,0,OFFSET TO PROTECT PRIVACY,NaN,0.0000,0.000
30984,Vehicle Collision or Pedestrian Struck (with I...,2025,1,17,12,49,15XX GRANVILLE BRDG,NaN,490358.4244,5457799.194
31887,Vehicle Collision or Pedestrian Struck (with I...,2025,3,27,15,7,99XXXX UNKNOWN,NaN,0.0000,0.000
31888,Vehicle Collision or Pedestrian Struck (with I...,2025,5,14,17,13,99XXXX UNKNOWN,NaN,0.0000,0.000

In [10]:
df[df['X'] == 490358.4244]

,TYPE,YEAR,MONTH,DAY,HOUR,MINUTE,HUNDRED_BLOCK,NEIGHBOURHOOD,X,Y
24826,Theft from Vehicle,2025,8,19,17,5,15XX GRANVILLE BRDG,Fairview,490358.4244,5457799.194
30065,Theft of Bicycle,2025,4,10,15,6,15XX GRANVILLE BRDG,Fairview,490358.4244,5457799.194
30984,Vehicle Collision or Pedestrian Struck (with I...,2025,1,17,12,49,15XX GRANVILLE BRDG,NaN,490358.4244,5457799.194

In [11]:
#df.loc[30984, "NEIGHBOURHOOD"] = "Fairview"

# replace missing NaN value with 'Fairview' in the 'neighbourhood'
df.loc[(df['HUNDRED_BLOCK'] == "15XX GRANVILLE BRDG") & (df['NEIGHBOURHOOD'].isna()) & (df['X'].notna()) & (df['Y'].notna()), 'NEIGHBOURHOOD'] = 'Fairview'

In [12]:
# fill missing values in Neighbourhood with Not-Specified
df['NEIGHBOURHOOD'] = df['NEIGHBOURHOOD'].fillna('Not Specified')

# convert month number to month name
df['MONTH_NAME'] = pd.to_datetime(df['MONTH'], format='%m', errors='coerce').dt.month_name()

In [13]:
df.isnull().sum()

TYPE             0
YEAR             0
MONTH            0
DAY              0
HOUR             0
MINUTE           0
HUNDRED_BLOCK    0
NEIGHBOURHOOD    0
X                0
Y                0
MONTH_NAME       0
dtype: int64

In [14]:
# drop rows with missing values in the 'neighbourhood' column
#df.dropna(subset=['NEIGHBOURHOOD'], inplace=True)

In [15]:
# feature engineer time of day column

def time_of_day(hour):
    if  4 <= hour <= 11:
        return "Morning"
    elif 12 <= hour <= 17:
        return "Afternoon"
    else:
        return "Evening/Night"

In [16]:
# apply the function to create column 'TIME_OF_DAY'
df['TIME_OF_DAY'] = df['HOUR'].apply(time_of_day)

In [17]:
df.head(3)

,TYPE,YEAR,MONTH,DAY,HOUR,MINUTE,HUNDRED_BLOCK,NEIGHBOURHOOD,X,Y,MONTH_NAME,TIME_OF_DAY
0,Break and Enter Commercial,2025,11,25,0,0,10XX PACIFIC ST,West End,490246.7971,5.458367e+06,November,Evening/Night
1,Break and Enter Commercial,2025,11,29,18,53,10XX PACIFIC ST,West End,490246.7971,5.458367e+06,November,Evening/Night
2,Break and Enter Commercial,2025,1,2,0,0,10XX PACIFIC ST,West End,490258.8902,5.458368e+06,January,Evening/Night

In [18]:
df[df['NEIGHBOURHOOD'] == "Central Business District"]

,TYPE,YEAR,MONTH,DAY,HOUR,MINUTE,HUNDRED_BLOCK,NEIGHBOURHOOD,X,Y,MONTH_NAME,TIME_OF_DAY
18,Break and Enter Commercial,2025,2,17,6,58,10XX W GEORGIA ST,Central Business District,491115.4503,5.459163e+06,February,Morning
19,Break and Enter Commercial,2025,2,7,14,30,10XX W GEORGIA ST,Central Business District,491115.7520,5.459163e+06,February,Afternoon
20,Break and Enter Commercial,2025,11,9,21,0,10XX W HASTINGS ST,Central Business District,491449.2475,5.459411e+06,November,Evening/Night
24,Break and Enter Commercial,2025,4,8,2,35,11XX BURRARD ST,Central Business District,490669.3771,5.458548e+06,April,Evening/Night
25,Break and Enter Commercial,2025,6,10,4,30,11XX BURRARD ST,Central Business District,490715.2484,5.458595e+06,June,Morning
...,...,...,...,...,...,...,...,...,...,...,...,...
32402,Vehicle Collision or Pedestrian Struck (with I...,2025,5,29,8,11,X BLOCK W CORDOVA ST,Central Business District,492386.0000,5.458867e+06,May,Morning
32403,Vehicle Collision or Pedestrian Struck (with I...,2025,5,13,17,4,X BLOCK W HASTINGS ST,Central Business District,492397.0000,5.458756e+06,May,Afternoon
32404,Vehicle Collision or Pedestrian Struck (with I...,2025,5,31,14,53,X BLOCK W HASTINGS ST,Central Business District,492397.0000,5.458756e+06,May,Afternoon
32405,Vehicle Collision or Pedestrian Struck (with I...,2025,5,9,15,3,X BLOCK W PENDER ST,Central Business District,492387.0000,5.458649e+06,May,Afternoon
32406,Vehicle Collision or Pedestrian Struck (with I...,2025,10,26,19,50,X BLOCK W PENDER ST,Central Business District,492387.0000,5.458649e+06,October,Evening/Night

In [19]:
# rename Central Business District to Downtown
df['NEIGHBOURHOOD'] = df['NEIGHBOURHOOD'].replace("Central Business District", "Downtown")

In [20]:
df[df['NEIGHBOURHOOD'] == "Central Business District"]

Empty DataFrame
Columns: [TYPE, YEAR, MONTH, DAY, HOUR, MINUTE, HUNDRED_BLOCK, NEIGHBOURHOOD, X, Y, MONTH_NAME, TIME_OF_DAY]
Index: []

In [21]:
#df.to_csv("../data/processed/vancouver_crime_data_2025.csv", index=False)