In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../data/raw/crimedata_csv_AllNeighbourhoods_2025.csv')

In [3]:
df.head()

,TYPE,YEAR,MONTH,DAY,HOUR,MINUTE,HUNDRED_BLOCK,NEIGHBOURHOOD,X,Y
0,Break and Enter Commercial,2025,11,25,0,0,10XX PACIFIC ST,West End,490246.7971,5.458367e+06
1,Break and Enter Commercial,2025,11,29,18,53,10XX PACIFIC ST,West End,490246.7971,5.458367e+06
2,Break and Enter Commercial,2025,1,2,0,0,10XX PACIFIC ST,West End,490258.8902,5.458368e+06
3,Break and Enter Commercial,2025,6,10,19,27,10XX PACIFIC ST,West End,490298.1327,5.458317e+06
4,Break and Enter Commercial,2025,1,13,3,43,10XX ROBSON ST,West End,491036.3006,5.458994e+06

In [10]:
df.shape

(32411, 10)

In [15]:
df.columns = df.columns.str.lower()

In [16]:
df.isnull().sum()

type             0
year             0
month            0
day              0
hour             0
minute           0
hundred_block    0
neighbourhood    8
x                0
y                0
dtype: int64

In [25]:
df['neighbourhood'].isnull().sum()

np.int64(7)

In [18]:
df[df['neighbourhood'].isna()]

,type,year,month,day,hour,minute,hundred_block,neighbourhood,x,y
9805,Offence Against a Person,2025,10,4,0,0,OFFSET TO PROTECT PRIVACY,NaN,0.0000,0.000
9808,Offence Against a Person,2025,1,19,0,0,OFFSET TO PROTECT PRIVACY,NaN,0.0000,0.000
9810,Offence Against a Person,2025,8,1,0,0,OFFSET TO PROTECT PRIVACY,NaN,0.0000,0.000
9811,Offence Against a Person,2025,3,15,0,0,OFFSET TO PROTECT PRIVACY,NaN,0.0000,0.000
10533,Offence Against a Person,2025,7,19,0,0,OFFSET TO PROTECT PRIVACY,NaN,0.0000,0.000
30984,Vehicle Collision or Pedestrian Struck (with I...,2025,1,17,12,49,15XX GRANVILLE BRDG,NaN,490358.4244,5457799.194
31887,Vehicle Collision or Pedestrian Struck (with I...,2025,3,27,15,7,99XXXX UNKNOWN,NaN,0.0000,0.000
31888,Vehicle Collision or Pedestrian Struck (with I...,2025,5,14,17,13,99XXXX UNKNOWN,NaN,0.0000,0.000

In [9]:
df[df['X'] == 490358.4244]

,TYPE,YEAR,MONTH,DAY,HOUR,MINUTE,HUNDRED_BLOCK,NEIGHBOURHOOD,X,Y
24826,Theft from Vehicle,2025,8,19,17,5,15XX GRANVILLE BRDG,Fairview,490358.4244,5457799.194
30065,Theft of Bicycle,2025,4,10,15,6,15XX GRANVILLE BRDG,Fairview,490358.4244,5457799.194
30984,Vehicle Collision or Pedestrian Struck (with I...,2025,1,17,12,49,15XX GRANVILLE BRDG,NaN,490358.4244,5457799.194

In [22]:
# replace missing NaN value with 'Fairview' in the 'neighbourhood'
df.loc[30984, "neighbourhood"] = "Fairview"

In [28]:
df.dropna(subset=['neighbourhood'], inplace=True)