In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../data/raw/crimedata_csv_AllNeighbourhoods_2025.csv')

In [3]:
df.head()

,TYPE,YEAR,MONTH,DAY,HOUR,MINUTE,HUNDRED_BLOCK,NEIGHBOURHOOD,X,Y
0,Break and Enter Commercial,2025,11,25,0,0,10XX PACIFIC ST,West End,490246.7971,5.458367e+06
1,Break and Enter Commercial,2025,11,29,18,53,10XX PACIFIC ST,West End,490246.7971,5.458367e+06
2,Break and Enter Commercial,2025,1,2,0,0,10XX PACIFIC ST,West End,490258.8902,5.458368e+06
3,Break and Enter Commercial,2025,6,10,19,27,10XX PACIFIC ST,West End,490298.1327,5.458317e+06
4,Break and Enter Commercial,2025,1,13,3,43,10XX ROBSON ST,West End,491036.3006,5.458994e+06

In [10]:
df.shape

(32411, 10)

In [15]:
df.columns = df.columns.str.lower()

In [30]:
df.info()

<class 'pandas.DataFrame'>
Index: 32404 entries, 0 to 32410
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   type           32404 non-null  str
 1   year           32404 non-null  int64
 2   month          32404 non-null  int64
 3   day            32404 non-null  int64
 4   hour           32404 non-null  int64
 5   minute         32404 non-null  int64
 6   hundred_block  32404 non-null  str
 7   neighbourhood  32404 non-null  str
 8   x              32404 non-null  float64
 9   y              32404 non-null  float64
dtypes: float64(2), int64(5), str(3)
memory usage: 2.7 MB

In [16]:
df.isnull().sum()

type             0
year             0
month            0
day              0
hour             0
minute           0
hundred_block    0
neighbourhood    8
x                0
y                0
dtype: int64

In [25]:
df['neighbourhood'].isnull().sum()

np.int64(7)

In [18]:
df[df['neighbourhood'].isna()]

,type,year,month,day,hour,minute,hundred_block,neighbourhood,x,y
9805,Offence Against a Person,2025,10,4,0,0,OFFSET TO PROTECT PRIVACY,NaN,0.0000,0.000
9808,Offence Against a Person,2025,1,19,0,0,OFFSET TO PROTECT PRIVACY,NaN,0.0000,0.000
9810,Offence Against a Person,2025,8,1,0,0,OFFSET TO PROTECT PRIVACY,NaN,0.0000,0.000
9811,Offence Against a Person,2025,3,15,0,0,OFFSET TO PROTECT PRIVACY,NaN,0.0000,0.000
10533,Offence Against a Person,2025,7,19,0,0,OFFSET TO PROTECT PRIVACY,NaN,0.0000,0.000
30984,Vehicle Collision or Pedestrian Struck (with I...,2025,1,17,12,49,15XX GRANVILLE BRDG,NaN,490358.4244,5457799.194
31887,Vehicle Collision or Pedestrian Struck (with I...,2025,3,27,15,7,99XXXX UNKNOWN,NaN,0.0000,0.000
31888,Vehicle Collision or Pedestrian Struck (with I...,2025,5,14,17,13,99XXXX UNKNOWN,NaN,0.0000,0.000

In [9]:
df[df['X'] == 490358.4244]

,TYPE,YEAR,MONTH,DAY,HOUR,MINUTE,HUNDRED_BLOCK,NEIGHBOURHOOD,X,Y
24826,Theft from Vehicle,2025,8,19,17,5,15XX GRANVILLE BRDG,Fairview,490358.4244,5457799.194
30065,Theft of Bicycle,2025,4,10,15,6,15XX GRANVILLE BRDG,Fairview,490358.4244,5457799.194
30984,Vehicle Collision or Pedestrian Struck (with I...,2025,1,17,12,49,15XX GRANVILLE BRDG,NaN,490358.4244,5457799.194

In [22]:
# replace missing NaN value with 'Fairview' in the 'neighbourhood'
df.loc[30984, "neighbourhood"] = "Fairview"

In [ ]:
# drop rows with missing values in the 'neighbourhood' column
df.dropna(subset=['neighbourhood'], inplace=True)

In [31]:
# feature engineer time of day column

def time_of_day(hour):
    if  4 <= hour <= 11:
        return "Morning"
    elif 12 <= hour <= 16:
        return "Afternoon"
    else:
        return "Evening/Night"

In [32]:
df['time_of_day'] = df['hour'].apply(time_of_day)

In [34]:
df.head(20)

,type,year,month,day,hour,minute,hundred_block,neighbourhood,x,y,time_of_day
0,Break and Enter Commercial,2025,11,25,0,0,10XX PACIFIC ST,West End,490246.7971,5.458367e+06,Evening/Night
1,Break and Enter Commercial,2025,11,29,18,53,10XX PACIFIC ST,West End,490246.7971,5.458367e+06,Evening/Night
2,Break and Enter Commercial,2025,1,2,0,0,10XX PACIFIC ST,West End,490258.8902,5.458368e+06,Evening/Night
3,Break and Enter Commercial,2025,6,10,19,27,10XX PACIFIC ST,West End,490298.1327,5.458317e+06,Evening/Night
4,Break and Enter Commercial,2025,1,13,3,43,10XX ROBSON ST,West End,491036.3006,5.458994e+06,Evening/Night
5,Break and Enter Commercial,2025,3,27,13,0,10XX SE MARINE DR,Sunset,493873.1291,5.450919e+06,Afternoon
6,Break and Enter Commercial,2025,3,27,14,19,10XX SE MARINE DR,Sunset,493873.1291,5.450919e+06,Afternoon
7,Break and Enter Commercial,2025,10,16,23,23,10XX SE MARINE DR,Sunset,493873.1291,5.450919e+06,Evening/Night
8,Break and Enter Commercial,2025,11,28,2,55,10XX SE MARINE DR,Sunset,493875.6666,5.450919e+06,Evening/Night
9,Break and Enter Commercial,2025,8,13,18,29,10XX STATION ST,Strathcona,492788.6724,5.458075e+06,Evening/Night
10,Break and Enter Commercial,2025,3,16,3,7,10XX STATION ST,Strathcona,492837.9336,5.458068e+06,Evening/Night
11,Break and Enter Commercial,2025,11,18,0,37,10XX STATION ST,Strathcona,492837.9336,5.458068e+06,Evening/Night
12,Break and Enter Commercial,2025,4,24,2,23,10XX SW MARINE DR,Marpole,490426.4215,5.450190e+06,Evening/Night
13,Break and Enter Commercial,2025,8,20,8,0,10XX SW MARINE DR,Marpole,490456.6943,5.450205e+06,Morning
14,Break and Enter Commercial,2025,10,26,10,56,10XX W 42ND AVE,Oakridge,490639.4061,5.453373e+06,Morning
15,Break and Enter Commercial,2025,11,11,6,27,10XX W 7TH AVE,Fairview,490670.7998,5.456948e+06,Morning
16,Break and Enter Commercial,2025,2,10,10,34,10XX W BROADWAY AVE,Fairview,490670.5840,5.456744e+06,Morning
17,Break and Enter Commercial,2025,9,30,5,48,10XX W BROADWAY AVE,Fairview,490670.5840,5.456744e+06,Morning
18,Break and Enter Commercial,2025,2,17,6,58,10XX W GEORGIA ST,Central Business District,491115.4503,5.459163e+06,Morning
19,Break and Enter Commercial,2025,2,7,14,30,10XX W GEORGIA ST,Central Business District,491115.7520,5.459163e+06,Afternoon